==
<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Joosep & Lars">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Tartu KHK IKT-osakonna ajatelg</title>
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ "assets/css/style.css"|theme }}" media="screen" />
	<link rel="stylesheet" href="{{ "assets/css/magnific.css"|theme }}" />
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="{{ "assets/js/magnific.js"|theme }}"></script>
    
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ "assets/images/favicon.ico" | theme }}">
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
	<script src="{{ "assets/js/jquery.timelinr-0.9.6.js"|theme }}"></script>
	<script>
		$(function(){
			$().timelinr({
				arrowKeys: 'true'
			})
		});
	</script>
</head>

<body>
	
 {% page %}

</body>
<script src="{{ "assets/js/custom.js"|theme }}"></script>
</html>